name: MacOS Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: install ksh
      run: brew install ksh
    - name: run tests
      run: sh ./run_tests.sh
